@font-face {
  font-family: 'Venus Rising';
  src: url('/fonts/venus_rising.ttf');
}

body {
  background: radial-gradient(ellipse closest-side, $gray 80%, lighten($gray, 2%) 97%, lighten($gray, 4%) 110%);
  background-attachment: fixed;
  overflow-x: hidden;
}

#__nuxt {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif !important;
}
