@font-face {
  font-family: 'Venus Rising';
  src: url('/fonts/venus_rising.ttf');
}

#__nuxt {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif !important;
}
